<%= turbo_frame_tag "modal" do %>
  <div data-controller="modal" 
       data-action="click->modal#close"
       data-modal-target="background" class= "fixed inset-0 backdrop-blur flex justify-center items-center z-50 text-black ">
    <div data-modal-target="content" class="bg-white p-6 rounded-lg shadow-lg w-full max-w-3xl ">

        <div class = "flex flex-col justify-center items-center">

          <h2 class="text-2xl font-semibold mb-4 text-center">Edit <%= resource_name.to_s.humanize %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-10" data-controller="preview">
                
                <div class=" flex flex-col justify-center items-center p-10">
                  
                  <div>
                    <%= f.label :avatar, "Profile Picture" %>
                  </div>
                  
                  <!-- Current Avatar Display -->
                  <div class="w-32 h-32 sm:w-24 sm:h-24 md:w-28 md:h-28 lg:w-40 lg:h-40 xl:w-46 xl:h-46 p-5">
                    <% avatar =  current_user.avatar.attached? ? url_for(current_user.avatar) : asset_path('profile.jpg')%>
                      <%# <%= image_tag current_user.avatar, alt: "User Avatar", id: "image-preview",class: "w-full h-full rounded-full" %>
                      <img data-preview-target = "output" id="image-preview" src="<%= url_for(avatar)%>" class="w-full h-full rounded-full ">
                  </div>
                  
                  <!-- File Input for New Avatar -->
                  <div class="relative inline-block">
                    <%= f.file_field :avatar, class: "block w-full text-sm text-gray-500",  data: { preview_target: "input", action: "change->preview#previewImage" } %>
                    <%# <button type="button" class="rounded-md bg-slate-800 py-2 px-4 text-white text-sm shadow-md hover:bg-slate-200 transition-all">
                      Upload or Change
                    </button> %>
                  </div>
                </div>

                <div class="flex flex-col justify-center items-center p-10 w-full">
                  <div class="w-full max-w-md space-y-4">
                    <div class="field">
                      <%= f.label :email, class: 'block text-sm font-medium text-gray-700' %>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'w-full border border-gray-300 p-2'%>
                    </div>

                    <div class="field">
                      <%= f.label :username, class: 'block text-sm font-medium text-gray-700' %>
                      <%= f.text_field :username, autofocus: true, autocomplete: "user", class:'w-full border border-gray-300 p-2'%>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="field">
                      <%= f.label :password, class: 'block text-sm font-medium text-gray-700' %> <i  class="text-xs text-gray-500 mt-1">(leave blank if you don't want to change it)</i>
                      <%= f.password_field :password, autocomplete: "new-password", class:'w-full border border-gray-300 p-2' %>
                      <% if @minimum_password_length %>
                        <em  class="text-xs text-gray-500 mt-1"><%= @minimum_password_length %> characters minimum</em>
                      <% end %>
                    </div>

                    <div class="field">
                      <%= f.label :password_confirmation, class: 'block text-sm font-medium text-gray-700' %>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'w-full border border-gray-300 p-2' %>
                    </div>

                    <div class="field">
                      <%= f.label :current_password , class: 'block text-sm font-medium text-gray-700'%> <i  class="text-xs text-gray-500 mt-1">(we need your current password to confirm your changes)</i>
                      <%= f.password_field :current_password, autocomplete: "current-password", class:'w-full border border-gray-300 p-2' %>
                    </div>
                    <div class="actions flex justify-end mt-4 w-full">
                      <%= f.submit "Update" , class: "rounded-md bg-blue-600 py-2 px-6 text-white hover:bg-blue-700 transition-all"%>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>

          <%# <h3 class=" text-lg font-semibold">Cancel my account</h3> %>

          <%# <>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"text-red-400" %>

          <%# <%= link_to "Back", :back %> 

        </div>
    </div>
  </div>
<% end %>
