<div class="overflow-y-auto">
  <h1 class="text-gray-500 text-2xl font-semibold p-5">Employees</h1>
  <table class="table-auto min-w-full">
  <thead class=" p-6  ">

    <tr class="p-6 border-b border-gray-400 text-center text-gray-900">
      
      <th  class="px-4 py-2 font-medium text-center">Username</th>
      <th  class="px-4 py-2 font-medium text-center">Email</th>
      <th  class="px-4 py-2 font-medium text-center">Role</th>
      <th  class="px-4 py-2 font-medium text-center">Invite</th>
      <th  class="px-4 py-2 font-medium text-center">Employee Status</th>
    </tr>
  
  </thead>
  <tbody>
    
    <% @users.each do |user|%>
    
    <tr class="border-b border-gray-200">
      
      <td class="px-6 py-4 text-center"><%= user[:username] || "nil" %></td>
      <td class="px-6 py-4 text-center"><%= user[:email]%></td>
      <td class="px-6 py-4  flex flex-row justify-center"><%= user.employee[:role].humanize %>
        
        <%= link_to edit_admin_employee_path(user.employee), data: { turbo_frame: "edit_role"}, class: " text-blue-600 hover:text-blue-800" do  %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
          </svg>
        <% end %>
      
      </td>
      <td class="px-6 py-4 text-center">
        <%= resend_invite(user)%>    
      </td>
      <td class="px-6 py-4 text-center items-center">
        <%= activation_status(user)%>
      </td>
    
    </tr>
    
    <%end%>
  
  </tbody>
</table>
</div>
<%= turbo_frame_tag "edit_role" %>