
<div class="max-h-screen w-100% flex flex-col bg-gray">
  <!-- Top small row -->
  <div class="h-1/5 ">
    <div class="relative">
  <% if user_signed_in? %>
    <div class="flex flex-row h-1/6 pt-10 ">
        <div class="flex flex-col w-11/12 ">
            <div class="text-5xl font-bold ">
                Welcome, <%= current_user.username %>!
            </div>
            <div class="text-xl">
                Time for some work. 
            </div>
        </div>
        <div data-controller="dropdown" class="w-1/12 text-right">
            <button data-action="click->dropdown#toggle" class="focus:outline-none relative ">
                <%if current_user.avatar.attached?%>
                    <%= image_tag current_user.avatar, alt: "User Avatar", class: "w-15 h-15 rounded-full " %>
                <%else%>
                    <%= image_tag "profile.jpg", alt: "Default Avatar", class: "w-15 h-15   rounded-full" %>
                <%end%>
            </button>

            <!-- Dropdown Menu -->
            <div data-dropdown-target="menu" class="absolute right-0 mt-2 w-48 bg-white rounded shadow-md hidden">
                <%= link_to "Edit Profile", edit_user_registration_path, data: { action: "click->modal#open" }, class: "block text-center w-full px-4 py-2 hover:bg-gray-100" %>
                <%= button_to "Logout", destroy_user_session_path, method: :delete,
                class: "block w-full text-center px-4 py-2 hover:bg-gray-100 text-red-600" %>
            </div>
        </div>
    </div>
  <% else %>
   <%= link_to "Login", new_user_session_path, class: "absolute top-4 right-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded" %>
  <% end %>
</div>
  </div>

  <!-- Bottom big row -->
  <div class="h-4/5 bg-white flex flex-col rounded-xl overflow-y-auto max-h-screen p-4  mt-4">
    <% case @page%>
    <% when 'dashboard'%>
        <% if can? :access, :dashboard%>
            <%= render "home/owner/admin_dashboard"%>
        <% end %>
    <% when 'invite-user'%>
        <% if can? :access, :inviteUser%>
            <%= render "devise/invitations/new"%>
        <% end %>
    <% end %>
  </div>
</div>
