<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pos" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-0 p-0">
    <%= turbo_frame_tag "modal" %>

    <% flash.each do |key, message| %>
        <div data-controller="flash" class="p-4 mb-4 text-sm text-white rounded-xl 
          <%= key == 'notice' ? 'bg-green-500' : 'bg-red-500' %>">
          <%= message %>
        </div>
    <% end %>
    
    <div class="flex flex-row min-h-screen bg-gray-100 font-sans text-gray-900 min-w-screen">
     <!-- Sidebar -->
      <div >
      <aside class="fixed top-0 left-0 h-screen w-64 bg-gray-800 text-white p-6 pt-20 rounded-r-3xl shadow-lg flex flex-col">
          <div class="flex flex-row items-center space-x-2 mb-10">
            <div ><%= inline_svg 'logo.svg', class: 'w-20 h-20 fill-current text-white hover:rotate-45 hover:text-cyan-400' %></div>
            <div>
              <h2 class="text-2xl font-bold ">Maze</h2>
            </div>
          </div>
       <!-- admin  sidebar -->
       <!-- Navigation -->
        <nav class="flex-1 space-y-4 text-sm">
          <%= link_to "Dashboard", admin_dashboard_index_path, data: { turbo_frame: "dashboard" }, class: "block hover:bg-gray-700 rounded px-4 py-2 text-sm font-semibold" %>

          <%= link_to "Categories", admin_categories_path, class: "block hover:bg-gray-700 rounded px-4 py-2 text-sm font-semibold" %>

          <li class="list-none">
            
            <button data-controller="sidebar" data-action="click->sidebar#toggle" class="block py-2 px-4 text-white  hover:bg-gray-700 rounded-md text-left w-full text-sm font-semibold">
              Products
            </button>

            <ul data-sidebar-target="menu" class="hidden  list-none bg-gray-700">
              
              <li>
                <%= link_to "View all products",admin_products_path, class: "block py-2 px-4 hover:bg-gray-600 rounded-md text-left w-full" %>
              </li>
              
              <li>
                <%= link_to "Add",new_admin_product_path, class: "block py-2 px-4 hover:bg-gray-600 rounded-md text-left w-full" %>
              </li>
            
            </ul>
          
          </li>

          <li class="list-none">
            
            <button data-controller="sidebar" data-action="click->sidebar#toggle" class="block py-2 px-4 text-white hover:bg-gray-700 rounded-md text-left w-full text-sm font-semibold">
              Employees
            </button>
            
            <ul data-sidebar-target="menu" class="hidden  list-none bg-gray-700">
              
              <li>
                <%= link_to "View",admin_employees_path, class: "block py-2 px-4 hover:bg-gray-600 rounded-md text-left w-full" %>
              </li>
              
              <li>
                <%= link_to "Add",new_user_invitation_path,data: { turbo_frame: "user_invite" }, class: "block py-2 px-4 hover:bg-gray-600 rounded-md text-left w-full" %>
              </li>
            
            </ul>
          
          </li>

        </nav>
      </aside>
      </div>
     <!-- Main Content -->
      
      <div class="ml-64 flex-1 flex flex-col">
      <main class="flex-1 bg-gray-100  p-6 min-h-screen">
          
        <div class="max-h-screen w-100% flex flex-col bg-gray">
          <!-- Top small row -->
          <div class="h-1/5 ">
            <div class="relative">
              <% if user_signed_in? %>
                <div class="flex flex-row h-1/6 pt-10 ">
                    <div class="flex flex-col w-11/12 ">
                        <div class="text-5xl font-bold ">
                            Welcome, <%= current_user.username %>!
                        </div>

                        <div class="text-xl">
                            Time for some work. 
                        </div>
                    </div>
                    <div data-controller="dropdown" class="w-1/12 text-right">
                        <button data-action="click->dropdown#toggle" class="focus:outline-none relative ">
                            <%if current_user.avatar.attached?%>
                                <%= image_tag current_user.avatar, alt: "User Avatar", class: "w-15 h-15 rounded-full " %>
                            <%else%>
                                <%= image_tag "profile.jpg", alt: "Default Avatar", class: "w-15 h-15   rounded-full" %>
                            <%end%>
                        </button>

                        <!-- Dropdown Menu -->
                        <div data-dropdown-target="menu" class="absolute right-0 mt-2 w-48 bg-white rounded shadow-md hidden">
                            <%= link_to "Edit Profile", edit_user_registration_path, data: { turbo_frame: "modal" }, class: "block text-center w-full px-4 py-2 hover:bg-gray-100" %>
                            <%= button_to "Logout", destroy_user_session_path, method: :delete,
                            class: "block w-full text-center px-4 py-2 hover:bg-gray-100 text-red-600" %>
                        </div>
                    </div>
                </div>
              <% else %>
                <%= link_to "Login", new_user_session_path, data: { turbo_frame: "auth_modal" }, class: "absolute top-4 right-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded" %>
              <% end %>
            </div>
          </div>

          <!-- Bottom big row -->
          <div class="h-4/5 bg-white flex flex-col rounded-xl overflow-y-auto max-h-screen p-4  mt-4">
            <%= yield%>
          </div>
        </div>

      </main>
      </div>
    </div>

  </body>
</html>
