<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pos" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %> 
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-0 p-0">
    <main>
      <!-- Notification Component -->
      <%# <div data-controller="notification" data-notification-target="notification" class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-green-500 text-white p-4 rounded-lg shadow-lg w-64 z-50 hidden">
        <div class="flex justify-between items-center">
          <p>Your action was successful!</p>
          <button class="text-white ml-4" data-action="notification#hide">&times;</button>
        </div>
      </div> %>
      <%# <p class="alert"><%= alert</p> %>
    </main>
    <%= yield %>
  </body>
</html>
